body
{
    margin:0;
    overflow:hidden;
    font-family:monospace;
}

/* background, add url*/
#room {
    width: 100vw;
    height: 100vh;
    background-image: url("");
    background-size: cover;
    background-position: center;

    position: relative;
}
/* Menu*/
#timer-menu{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background: #d9c8a9;
    border: 4px solid #6f4e37;
    padding: 20px;
    z-index=10;
}

#timer-menu button{
    display:block;
    width:250px;
    margin:10px 0;
    padding:10px;
}
/* Timer*/
#timer-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    border: 4px solid #777;
    color:#3cff00;
    padding: 30px;
    z-index =20;
}

#timer-display{
    font-size:60px;
}

.hidden{
    display:none;
}
/* XP*/
#xp-container {
    position: absolute;
    top: 100px;
    left: 20px;
    background: rgba(0,0,0,0.6);
    border-radius: 8px;
    color: antiquewhite;
    padding: 10px;
}

/* Level-Kreis*/
#level-circle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #2d5a3d;
    border: 4px solid #f4e7c5;
    color: antiquewhite;
    font-size:28px;
    font-weight: bold;

    display:flex;
    justify-content:center;
    align-items:center;
}

/* Schreibtisch Kliickfläche*/
#desk-hitbox {
    position: absolute;
    right:290px;
    bottom:170px;
    width: 250px;
    height: 180px;
    cursor: pointer;
}

